#registration {
  .ball {
    height: 633px;
    max-width: 100%;
    background: image-url("branding/ball.png") no-repeat;
    background-size: contain;
  }

  .v-center {
    display: table;
    height: 633px;

    .content {
      display: table-cell;
      vertical-align: middle;

      #pod-name {
        text-align: center;
        margin: 12px;
        font-size : 35px;
      }
    }
  }

  form {
    max-width: 400px;

    .captcha_img {
      position: absolute;
      width: 120px;
      margin-top: 10px;
      margin-left: 10px;
    }

    #user_captcha {
      font-size: 16px;
      height: 40px;
      padding: 10px 10px 10px 130px;
      line-height: $line-height;
      box-sizing: border-box;
      width: 100%;
      border-bottom: 1px solid $border-grey;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    #terms > a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.student-land {
  max-width: 100%;  
  background: image-url("landing/detail-earth.jpg") no-repeat;
  background-size: cover;
}

.tutor-land {
  max-width: 100%;
  background: image-url("landing/tutors_detail.jpg") no-repeat;
  background-size: cover;
}

.university-land {
  max-width: 100%;
  background: image-url("landing/UniversityWestminster.jpg") no-repeat;
  background-size: cover;
}

.business-land {
  max-width: 100%;
  background: image-url("landing/business_detail.jpg") no-repeat;
  background-size: cover;
}
