%h1 Detailbooks#index
%p Find me in app/views/detailbooks/index.html.haml
%br/
#detailbooks.btn.btn-default
 = link_to "Edit Detailbook"
#detailbooks.btn.btn-default
 = link_to 'Delete Detailbook', root_path